<label>Server Name</label>
<input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)">
    <input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"> <!-- Binding direzionale -->
    <p>{{ serverName }}</p>
<button 
    class="btn btn-success"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()" >Add server</button>
    <p>{{ serverCreationStatus }}</p>

    <input
        type="text" 
        class="form-control"
        (input)="onUpdateUsername($event)"
        [(ngModel)]="username"
    >
    <p>{{ username }}</p>
    <button
        class="btn btn-secondary"
        [disabled]="!hasUsername"
        (click)="resetUsername()"
    >

    New username
    </button>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
