<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Mercurio
  </a>
</nav>

<hr>

<div app-servers></div>

<app-success-alert></app-success-alert>

<app-warning-alert></app-warning-alert>

<div class ng-view>
<div class="card">
  <h3 class="card-header text-primary">Ciao</h3>
  <div class="card-body">
    <p>Sto facendo la prima card con Angular</p>
  </div>
</div>
</div>
