div[ng-view] {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card {
    margin: auto;
    width: 20vw;
    height: 40vh;
}

